brotlipy==0.7.0
certifi==2021.10.8
cffi @ file:///opt/conda/conda-bld/cffi_1642701102775/work
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
conda==4.12.0
conda-package-handling @ file:///tmp/build/80754af9/conda-package-handling_1649105784853/work
cryptography @ file:///tmp/build/80754af9/cryptography_1652101588893/work
docker-pycreds==0.4.0
einops==0.4.1
gitdb==4.0.9
GitPython==3.1.27
idna @ file:///tmp/build/80754af9/idna_1637925883363/work
numpy==1.22.3
pandas==1.4.1
pathtools==0.1.2
Pillow==9.0.1
promise==2.3
pycosat==0.6.3
pycparser @ file:///tmp/build/80754af9/pycparser_1636541352034/work
pyOpenSSL @ file:///opt/conda/conda-bld/pyopenssl_1643788558760/work
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
requests @ file:///opt/conda/conda-bld/requests_1641824580448/work
ruamel-yaml-conda @ file:///tmp/build/80754af9/ruamel_yaml_1616016711199/work
scikit-learn==1.0.2
scipy==1.8.0
sentry-sdk==1.5.8
setproctitle==1.2.2
shortuuid==1.0.8
smmap==5.0.0
termcolor==1.1.0
torch==1.11.0+cu113
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.13
torchaudio==0.11.0+cu113
torchvision==0.12.0+cu113
tqdm==4.63.0
typing_extensions==4.1.1
urllib3 @ file:///opt/conda/conda-bld/urllib3_1650639997961/work
yaspin==2.1.0
certifi==2022.6.15
charset-normalizer==2.1.0
einops==0.4.1
idna==3.3
Jinja2==3.1.2
joblib==1.1.0
MarkupSafe==2.1.1
numpy==1.23.1
pandas==1.4.3
Pillow==9.2.0
pyparsing==3.0.9
python-dateutil==2.8.2
pytz==2022.1
requests==2.28.1
scikit-learn==1.1.1
scipy==1.8.1
six==1.16.0
threadpoolctl==3.1.0
torch==1.12.0+cpu
torch-cluster==1.6.0
torch-geometric==2.0.4
torch-scatter==2.0.9
torch-sparse==0.6.14
torch-spline-conv==1.2.1
torchaudio==0.12.0+cpu
torchvision==0.13.0+cpu
tqdm==4.64.0
typing_extensions==4.3.0
urllib3==1.26.10
